<!DOCTYPE html>
<html>
<head>
  <title>Суши Кэт</title>
  <meta name="description" content="Суши Кэт. Бесплатная доставка Суши. Казань.">
  <meta name="keywords" content="доставка, бесплатно, суши, роллы, казань, суши-кэт">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src=http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js></script>

  <script type="text/javascript">
	$(function(){
	$(window).scroll(function() {
	var top = $(document).scrollTop();
	if (top < 150) $("#columns1").css({top: '0', position: 'relative'});
	else $("#columns1").css({top: '0', position: 'fixed'});
	});
	});
</script>

</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<table>
		<tr>
			<td rowspan="2"><%= image_tag("logo.png") %></td>
			<td rowspan="2"><h1>Суши Кэт</h1></td>
			<div id="numb"><td rowspan="2"><h2>203-3-003</h2></td></div>
		</tr>
		<tr>
			<td>
				<div id="info">
					<div id="top"><p> График работы: </p> 
					<p id="name">каждый день с 09:00 до 00:00</p></div>
					<br>
					<div id="netop"><p> Наш адрес: </p> 
					<p id="name">г. Казань, ул. Симонова, 14/41</p></div>
				</div>
			</td>
		</tr>
			
		</table>
	</div>
	<div id="columns"> 
		<div id="columns1">
		<div id="side">
			<div id="cart">
				<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
						<%= render @cart %>
					<% end %>
				<% end %>
			</div>
			<p id="menu">Меню<p>
			<ul>
				<li><%= link_to "Жареные роллы", controller: 'hotrolls' %></li>
				<li><%= link_to "Запеченные роллы", controller: 'zaprolls'%></li>
				<li><%= link_to "Фирменные роллы", controller: 'firmrolls' %></li>
				<li><%= link_to "Классические роллы", controller: 'clasrolls'%></li>
				<li><%= link_to "Пицца", controller: 'pizza'%></li>
				<li><%= link_to "Ассорти", controller: 'asss'%></li>
				<li><%= link_to "Дополнительно к роллам", controller: 'dopkrolls'%></li>
				<li><%= link_to "Суши", controller: 'sushis'%></li>
				<li><%= link_to "Холодные закуски", controller: 'coldrolls'%></li>
				<li><%= link_to "Салаты", controller: 'salats'%></li>
				<li><%= link_to "Эксклюзив", controller: 'exels'%></li>
				<li><%= link_to "Напитки", controller: 'naps'%></li>
				<li><%= link_to "Десерты", controller: 'deserts'%></li>
			</ul>

			<% if session[:user_id] %>
			<ul>
				<li><%= link_to 'Заказы', orders_path %></li>
				<li><%= link_to 'Товары', products_path %></li>
				<li><%= link_to 'Пользователи', users_path %></li>
			</ul>
			<%= button_to 'Выход', logout_path, method: :delete %>
			<% end %>

		</div>
	</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
